#pic {
    border-radius: 50%;
    height: 150px;
    width: 200px;
}

h1 {
    text-align: left;
    color: darkblue;
    font-style: italic;
}

button {
    background-color: gold;
    border: 1.5px solid darkblue;
    font-style: italic;
}

h3 {
    text-align: left;
    color: darkblue;
    font-style: italic;
}

#head {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 40px;
}

body {
    padding: 10px;
}

#about {
    background-color: whitesmoke;
    padding: 50px;
}

h4 {
    text-align: left;
    color: darkblue;
    font-style: normal;
}

#aa {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#ab {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    color: black;
}

#foot {
    background-color: whitesmoke;
    text-align: left;
    font-style: italic;
    margin-top: 40px;
    padding: 1px;
}

#e {
    color: darkblue;
}
#edu, th, td {
    border: 2.5px solid black;
}
h6 {
    color: darkblue;
}
#bdg {
    background-color: whitesmoke;
    margin-top: 40px;
    padding: 30px;
}
#badge {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
body {
    background-color: lightgoldenrodyellow;
    background-image: url('bg.jpg');
}

#ic:hover{
    transform:scale(2);
    color: rgb(129, 35, 90);
}

#badge:hover {
    transform:scale(1.5);
}

#ic {
    color: darkblue;
}

#aa:hover, #ab:hover, #head:hover, #foot:hover {
    border: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(64, 2, 249),rgb(7, 189, 240),  rgb(64, 2, 249));
    border-image-slice: 1;
}
